numpy==1.22
pandas==1.4.3
seaborn==0.11.2
matplotlib==3.5.2
itk==5.2.1
simpleitk==2.1.1.2
coloredlogs==15.0.1
openpyxl==3.0.10
humanfriendly==10.0
hanging_threads==2.0.5
tensorflow-addons==0.17.1
tabulate==0.8.10
yappi==1.3.5
absl-py==1.1.0
click==8.0.4
medmnist==2.1.0
monai==0.9.0
pytorch-lightning==1.6.4
ray==1.13.0
wandb~=0.12.19
hyperopt==0.2.7
dataclasses-json==0.5.7
torchio==0.18.79
latex==0.7.0
torch-summary==1.4.5
numba==0.56.0
rich==12.5.1
nibabel~=4.0.1
--extra-index-url https://download.pytorch.org/whl/cu113
torch~=1.13.1

torchvision~=0.14.1
torchmetrics~=0.11.4
scikit-learn~=1.1.2
tqdm~=4.64.0
scipy~=1.9.1
PyYAML~=6.0
psutil~=5.9.1
Pillow~=9.2.0